:root {
    --cor-primaria: #f464c3;
    --cor-secundaria: #3d1c31;
    --cor-tres: #FDACE0;
    --branco: white;
    --preto: black;
    --rosa: rgb(161, 31, 118);


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
    align-items: center;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#buscar {
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    background-color: var(--cor-tres);
    padding: 0.5rem;
}

nav a:first-child {
    border-right: 1px solid var(--preto);
}

#baby {
    padding: 15px;
    margin: 2rem;
    grid-template-columns: none;
    border-right: 5px solid var(--cor-primaria);
    font-size: x-large;
    background: #f464c3;

}

#ok {
    margin: 2%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#img{
    display: flex;
    align-items: center;
    margin: 20px 70px;
    flex-direction: column;
    flex-direction: row;
}
#img div{
    margin-top: 20px;
}

   