:root {
    --cor-primaria: #f464c3;
    --cor-secundaria: #3d1c31;
    --cor-tres: #FDACE0;
    --branco: white;
    --preto: black;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
}

#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#buscar{
    flex-grow: 1;
}

.icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}