:root{
    --cor-primaria: #f464c3;
    --cor-secundaria: #3d1c31;
    --cor-tres: #FDACE0;
    --branco: white;
    --preto: black;


}
*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
header{
background-color: var(--cor-primaria);
}