<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/duvidas.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../imagens/Logo de Loja de Roupas Femininas Estilo Minimalista (3).png"
        type="image/x-icon">
    <title>Duvidas</title>
</head>

<body>
    <header>
        <a href="" class="ludo">
            <img src="../imagens/Logo de Loja de Roupas Femininas Estilo Minimalista (3).png" alt="" width="50%"></a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar"><img src="../imagens/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png"
                    alt="" width="30px"></button>
        </form>
        <a href="" class="icon-link">
            <img src="../imagens/account_circle_24dp_FILL0_wght400_GRAD0_opsz24 (3).png" alt="" width="40px">
            cadastre-se
        </a>
        <a href="" class="icon-link">
            <img src="../imagens/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            dúvidas
        </a>
    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="../views/sobre.html">Sobre a loja</a>
    </nav>
    <section>
        <div id="baby">
            <details>
                <summary>
                    Como faço para adicionar um produto à minha lista de desejos?
                </summary>
                ok
            </details>
            <details>
                <summary>
                    Como faço para adicionar um produto à minha lista de desejos?
                </summary>
                ok
            </details>
        </div>
    </section>
</body>

</html>