<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <title>Ludofashion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
</head>

<body>
    <header>
        <a href="../html/index.html" class="ludo">
            <img src="../imagens/Logo de Loja de Roupas Femininas Estilo Minimalista (3).png" alt="" width="50%"
                height="20%"></a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar"><img src="../imagens/search_24dp_FILL0_wght400_GRAD0_opsz24 (1).png"
                    alt="" width="30px"></button>
        </form>
        <a href="" class="icon-link">
            <img src="../imagens/account_circle_24dp_FILL0_wght400_GRAD0_opsz24 (3).png" alt="" width="40px">
            cadastre-se
        </a>
        <a href="" class="icon-link">
            <img src="../imagens/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            dúvidas
        </a>

    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="">Sobre a loja</a>
    </nav>
    <main>
        <section id="banner">
            <div id="txt-banner">
            </div>
        </section>
        <div class="container">
            <a class="links" id="paracadastro"></a>
            <a class="links" id="paralogin"></a>

            <div class="content">
                <!--FORMULÁRIO DE LOGIN-->
                <div id="login">
                    <form method="post" action="">
                        <br>
                        <h1>Login</h1>
                        <br>
                        <div class="box-login">
                            <label for="email_login">email</label>
                            <input class="email_login" name="email_login" required="required" type="text"
                                width="40px" />
                        </div>

                        <div class="box-login">
                            <br>
                            <label for="senha_login">senha</label>
                            <input class="email_login" name="senha_login" required="required" type="password" />
                        </div>
                        <br>
                        <p>
                            <button class="sarinha">Login</button>
                        </p>
                        <br>
                        <h1>ou</h1>
                        <div class="img">
                            <img src="../imagens/download.png" alt="">
                            <div class="img">
                                <img src="../imagens/download (1).png" alt="">
                            </div>
                        </div>
                        <p class="link">
                            Ainda não tem conta? <br>
                            <a href="#paracadastro">
                                Cadastre-se</a>
                        </p>
                    </form>

                </div>

</body>

</html>