<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/meuperfil.css">
    <link rel="shortcut icon" href="../imagens/Logo de Loja de Roupas Femininas Estilo Minimalista (3).png"
        type="image/x-icon">
        <script src="../js/script.js" defer></script>
    <title>Duvidas</title>
</head>

<body>
    <header>
        <a href="" class="ludo">
            <h1>LudoFashion</h1></a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar"><img src="../imagens/search1.png"
                    alt="" width="30px"></button>
        </form>
        <a href="../views/cadastro.html" class="icon-link">
            <img src="../imagens/account_circle_24dp_FILL0_wght400_GRAD0_opsz24 (3).png" alt="" width="40px">
            cadastre-se
        </a>
        <a href="" class="icon-link">
            <img src="../imagens/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            dúvidas
        </a>
    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="../views/sobre.html">Sobre a loja</a>
    </nav>
    <div class="meu">
        <h1>Meu Perfil</h1>
        <p>Gerenciar e proteger sua conta</p>
        <h1 class="color">.</h1>
    </div>
    <div class="categoria">
        <a href="" class="categoria"><h1> <img id="dois" src="../imagens/icons8-pessoa-do-sexo-masculino-48 (1).png" alt="" width="30px">Minha Conta</h1></a>
        <a href="" class="categoria"><h1> <img id="dois" src="../imagens/icons8-heart-32.png" alt="">Lista de Desejo</h1></a>
        <a href="" class="categoria"><h1> <img id="dois" src="../imagens/list.png" alt="" width="30px">Categoria</h1></a> 
        <a href="" class="categoria"><h1> <img id="dois" src="../imagens/icons8-caixa-vazia-50.png" alt="" width="30px">Produtos</h1></a>
      
    </div>
</body>
</html>