<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=v, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="shortcut icon" href="../imagens/Logo de Loja de Roupas Femininas Estilo Minimalista (3).png" type="image/x-icon">

</head>

<body>
    <header>
        <a href="../html/index.html" class="ludo">
         <h1>LudoFashion</h1></a>
        <form action="" id="form-buscar">
            <input type="search" name="buscar" id="buscar" placeholder="buscar...">
            <button type="submit" id="btn-buscar"><img src="../imagens/search1.png"
                    alt="" width="30px"></button>
        </form>
        <a href="../views/cadastro.html" class="icon-link">
            <img src="../imagens/account_circle_24dp_FILL0_wght400_GRAD0_opsz24 (3).png" alt="" width="40px">
            cadastre-se
        </a>
        <a href="../views/duvidas.html" class="icon-link">
            <img src="../imagens/help_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="" width="40px">
            dúvidas
        </a>
    </header>
    <nav>
        <a href="">Catálogo</a>
        <a href="">Sobre a loja</a>
    </nav>
    <div class="tamanho">
        <h1>Quem somos?</h1>
    </div>
    <section class="lumo">
        <div>
            <p> LudoFashion é uma boutique online que cativa o coração de mulheres modernas e conscientes da moda.
                Especializada na venda de cosméticos e roupas femininas, a LudoFashion oferece uma seleção
                cuidadosamente curada de produtos que combinam elegância, estilo e qualidade. Desde os mais
                recentes
                lançamentos em produtos de beleza até as últimas tendências em moda feminina, cada item da
                LudoFashion é
                escolhido para inspirar confiança e beleza em suas clientes. Com um compromisso inabalável com a
                qualidade e o serviço ao cliente, a LudoFashion se destaca como um destino confiável para mulheres
                que
                buscam expressar sua individualidade através do estilo.</p>
            <br>
           <p><b>Visão:</b>Ser a principal boutique online para mulheres modernas e conscientes da moda, oferecendo uma
                experiência única e inspiradora.
                <br>
                <b>Missão:</b>Proporcionar uma seleção cuidadosamente curada de cosméticos e roupas femininas que
                inspirem
                confiança e expressão individual, com excelência em qualidade e serviço ao cliente.
                <br>
                <b>Valores:</b>Excelência, Integridade, Empoderamento.
            </p>
            
        </div>
        <div class="img">
            <img src="../imagens/4858698_b9d3b01f6db6129.jpg" alt="">
            <div>
                <a href="http://twitter.com"><img src="../imagens/images.png" alt="" width="40px"></a>
                    <a href="http://instagram.com"><img src="../imagens/Instagram_logo_2022.svg" alt="" width="40px"></a>
              <a href="tel:+98988217867"></a><img src="../imagens/download.jfif" alt="" width="40px"></a>
            </div>
        </div>
    </section>

</body>

</html>